

.city-block {
	float: right;
	background: #f9f9f9;
	/*overflow: hidden;*/
	
	display: inline-table;
	margin: 0px 10px 10px 10px;
	border: 1px solid #dca5c4;
	width: 338px;
}

.city-block td {
    vertical-align: middle;
}
.city-block table {
	
	font-size: 11px;
	font-weight: bold;
}

.city-block table tr td {
	padding: 8px 7px;
	text-align: left;
	border-bottom: 1px solid #FFFFFF;
}
.img {
	border:none;
	margin: 10px;
	float:left
}

p {
  	text-align: justify;
	font-size: 14pt;
	font-family: Georgia, Times, serif;
	font-weight: normal;
}



